:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
}
.header {
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(76, 44, 1, 0.788);
  width: 100%;
}

.searchInput {
  flex: 1;
  margin-left: 2.5rem;
  width: 40vw;
  min-width: 150px;
  height: 5vh;
  margin-right: 1rem;
}
.navBar {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
.bookList {
  background-color: rgba(76, 44, 1, 0.788);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  margin: 3vw;
}
.pagination {
  margin-bottom: 10vh;
  display: flex;
  justify-content: row;
  justify-content: center;
  gap: 10vw;
}
a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #efefef;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  color: white !important;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.button:hover {
  border-color: #646cff;
  color: white !important;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
  color: white !important;
}

.search-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

@media (max-width: 600px) {
  .button {
    font-size: 0.9em;
    padding: 0.5em 1em;
    color: white !important;
  }
}
