.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
  background: rgb(48, 35, 35);
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  width: 90%;
  color: white;
}
li{
    list-style-type: none;
    padding: 0.2rem;
}
li:hover{
    cursor: pointer;
    transform: scale(1.05);

}

a:hover{
cursor: pointer;
}
