.bookCard {
  padding-top: 5vh;
  padding-bottom: 5vh;
  background: url("../../../public/leather.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bookImg {
  margin-top: 2vh;
  margin-bottom: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
  box-shadow: 8px 6px 5px 4px rgba(8, 5, 2, 0.586);
}
