.bookCard {
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-left: 1vw;
  padding-right: 1vw;
  background: url("/leather.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.bookImg {
  margin-top: 1.5vh;
  margin-bottom: 2vh;
  box-shadow: 8px 6px 5px 4px rgba(8, 5, 2, 0.586);
}
